<div id="main">
	<div id="top">
		<h1 id="name"></h1>
		<h2 id="screen-name"></h2>
	</div>

	<div id="tweet-container">
		
		<p id="time-display"></p>
		
		<div id="tweet-text">
			<p id="joke-body"></p>
		</div>

		<p id="rt-count" class="icon-text"></p>
		<p id="fav-count" class="icon-text"></p>

	</div>

	<div id="vote-container">
		<button id="downvote" class="vote">-1</button>
		<button id="upvote" class="vote">+1</button>
	</div>

	<button id="get-tweet">Get Tweet</button>
</div>