<div id="main">
	<div id="top">
		<h1 id="name"></h1>
		<h2 id="screen-name"></h2>
	</div>

	<div id="tweet-container">
		
		<p id="time-display"></p>
		
		<div id="tweet-text">
			<p id="joke-body"></p>
		</div>
		<div id="stats">
			<%= image_tag('0303-loop2.svg', size: '20x20', id:'loop', class:'icon') %>
			<p id="rt-count" class="icon-text"> 21</p>
			<%= image_tag('0216-star-empty.svg', size: '22x22', id:'star', class:'icon') %>
			<p id="fav-count" class="icon-text">23</p>
		</div>

	</div>

	<div id="vote-container">
		<button id="downvote" class="vote">-1</button>
		<button id="upvote" class="vote">+1</button>
	</div>

	<button id="get-tweet">Get Tweet</button>
</div>

