<div ng-controller="TweetController" ng-init="initApp()">
	
	<section class="b-card_container">
		<tweet-card class="b-card"></tweet-card>
		<tweet-card class="b-card"></tweet-card>
	</section>

</div>

