<section ng-app="probablyJokes" ng-controller="TweetController">

	<div>
		{{tweet}}
<!-- 		{{ tweet.comedian_name }}
		{{ tweet.comedian_screen_name }}
		{{ tweet.text }}
		Fav: {{ tweet.favorite_count }}
		RT: {{ tweet.retweet_count }} -->
	</div>

<button ng-click="randomTweet()">Random</button>

</section>

