<div ng-controller="TweetController" ng-init="initApp()">
	
	<section class="tweet-card-container">
		<tweet-card></tweet-card>
		<tweet-card></tweet-card>
	</section>

 <button ng-click="addTweet()">ADD</button>
</div>

