<div class="card--top-block">
	<a ng-href="{{tweet.comedian_url}}">
		<img class="card--comedian-image" ng-src="{{tweet.comedian_image_url}}" />
	</a>
	<a ng-href="{{tweet.comedian_url}}">
		<h2 class="card--comedian-name" ng-bind="tweet.comedian_screen_name"></h2>
	</a>
</div>
<p class="card--tweet-body" ng-bind-html="tweet.linkified_text"></p>
<a href="#" ng-if="tweet.media" class="card--display-button" ng-click="showImage()">Show Image</a>
<img ng-if="tweet.media" class="card--tweet-image" ng-src="{{tweet.media}}" />
<br>
<div class="card--button-container">
	<div class="button--share" ng-click="twitterShare()">Twitter</div>
	<div class="button" ng-click="upVote()"> UP </div>
	<div class="button" ng-click="nextTweet()"> NEXT </div>
</div>