@import "reset";

// =============================
//  DEFAULTS
// =============================

body {
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: $med-blue;
	transition: all .2s ease-in-out;

	&:hover {
		color: $med-purple;
	}
}
