$module: 'b-card';

.#{$module} {
	position: absolute;
	width: 100%;
	border: 1px solid black;
	margin: 0 auto;
	min-height: 30em;
	background-color: white;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.4);
	transition: all .3s ease-in;

	// &:first-child {
	// 	z-index: 2;
	// }

	// &--top {
	// 	z-index: 1;
	// }

	&--offscreen {
		transform: translate(60em,6em);
	}

	&__comedian-image {

	}

	&__comedian-name {

	}

	&__tweet_body {

	}

	&__tweet_image {
		max-width: 100%;
		max-height: 60vh;
		margin: 0 auto;
	}

	&__button {
		&--up {}
		&--down {}
		&--share {}
	}


}